{% extends 'base.html.twig' %}

{% block main %}
    <div>
    <div class="well">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" id="success-alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" id="success-alert">
                {{ message }}
            </div>
        {% endfor %}
    <form class="form-horizontal" name="authenticate" action="{{ path('login') }}" method="post">
        <fieldset>
            <legend>Вход</legend>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="exampleInputUsername">Потребителско име</label>
            <div class="col-sm-4">
            <input type="text" name="_username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Потребителско име">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="exampleInputPassword1">Парола</label>
            <div class="col-sm-4">
            <input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Парола">
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <input type="hidden" name="_target_path" value="/?login=success" />
        <input type="hidden" name="_failure_path" value="{{ path('loginError') }}" />
            <div class="text-center">
                <small><a href="{{ path('forgottenPassword') }}">Забравена парола?</a></small>
            </div>
        <div class="form-group">
            <div id="loginButton" class="col-sm-4 col-sm-offset-4">
        <button type="submit" class="btn btn-primary btn-sm">Влез</button></br>
        </div>
        </div>
        <div class="col-sm-8 col-sm-offset-4">
        <small class="form-text">Още нямаш профил? <a href="{{ path('register') }}">Регистрирай се!</a></small>
        </div>

        </fieldset>
    </form>
    </div>
    </div>
{% endblock %}