<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}JorjsList{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/customAdmin.css') }}">
    {% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/qrcode.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top bg-primary" role="navigation">
            <div class="navbar-header">
                <a href="{{ path('index') }}" class="navbar-brand">JorjsList</a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button id="navSearchButton" type="button" class="navbar-toggle navbar-toggler-left" data-toggle="collapse" data-target="#searchNav" aria-expanded="false" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                </button>
            </div>
            <div id="searchNav" class="collapse navbar-collapse show-only-on-mobile">
                <ul class="navbar-nav">
                    <li>{{ render(controller('AppBundle:Default:search')) }}</li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav navbar-left">

                    {{ render(controller('AppBundle:Default:primaryMenuCategoriesDropdownMenu')) }}

                    <li><a class="nav-item nav-link" href="{{ path('allArticles') }}">Статии</a></li>
                    <li><a class="nav-item nav-link" href="{{ path('contacts') }}">Контакти</a></li>
                    <li>{{ render(controller('AppBundle:Default:search')) }}</li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-collapse">
                    {% if app.user %}
                        <li><a id="login" class="nav-item nav-link" href="{{ path('editUser') }}">Здравей, {{ app.user.username }}!</a></li>
                        <li><a id="logout" class="nav-item nav-link" href="{{ path('logout') }}">Излез</a></li>
                        {% if app.user.role=="admin" %}
                            {% if app.request.requestUri starts with '/admin' %}
                            {% else %}
                                <li><a id="adminButton" class="nav-item nav-link" href="{{ path('adminIndex') }}">Админ Панел</a></li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <li><a id="login" class="nav-item nav-link" href="{{ path('login') }}">Вход</a></li>
                    {% endif %}
                    <li class="show-only-on-mobile"><a class="nav-item nav-link" href="{{ path('newAd') }}">Нова обява</a></li>
                    {% if app.user %}
                        <li class="show-only-on-mobile"><a class="nav-item nav-link" href="{{ path('myAds') }}">Моите обяви</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block secondNav %}
    {% if app.request.requestUri starts with '/admin' %}
        {% include 'admin/adminSidebar.html.twig' %}
    {% endif %}
{% endblock %}

{% block indexTop %}
{% endblock %}
<div class="container body-container">
    {% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            {% if app.request.requestUri starts with '/admin' %}
            <div id="mainAdmin">
                {% else %}
                <div id="main">
                    {% endif %}

                    {% block main %}{% endblock %}
                </div>
            </div>
            {% if not (app.request.requestUri starts with '/admin') %}
                {{ render(controller('AppBundle:Default:sidebarWidget')) }}
            {% endif %}
        </div>
        {% endblock %}

    </div>





    {% block footer %}
        <footer class="page-footer mdb-color darken-3 pt-4">

            <div class="footer-copyright py-3">
                <a class="pull-left" href="{{ path('documentation') }}">Документация</a>
                <a class="pull-right" href="#">© 2019 Всички права запазени Георги Събев</a>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/moment.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        <script src="{{ asset('js/mdb.min.js') }}"></script>
        <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
    {% endblock %}

</body>
</html>

