{% extends 'base.html.twig' %}

{% block main %}
    <div class="well">
        <h3>Резултати от търсене: {{ query }}</h3>
        {% for ad in ads %}
            <article class="itemlist">
                <div class="row row-sm">
                    <aside class="col-sm-3">
                        <div class="img-wrap">
                            {% if ad.images %}
                                <img style="max-width: 150px; max-height: 130px" href="{{ path('viewAd', {id : ad.id}) }}" src="{{ asset('uploads/images/' ~ ad.images[0]) }}" class="img-md">
                            {% else %}
                                <img style="max-width: 150px; max-height: 130px" href="{{ path('viewAd', {id : ad.id}) }}" src="{{ asset('uploads/images/noimage.jpg') }}" class="img-md">
                            {% endif %}
                        </div>
                    </aside> <!-- col.// -->
                    <div class="col-sm-6">
                        <div class="text-wrap">
                            <h3 class="title">{{ ad.title }}</h3>
                            <p>{{ ad.summary }}</p>
                            <p class="rating-wrap my-0 text-muted">
                                <span class="label-rating">Видяно: {{ ad.views }} пъти</span><br/>
                                <span class="label-rating">Дата: {{ ad.dateAdded|date('H:i d-m-Y') }}</span>
                            </p> <!-- rating-wrap.// -->
                        </div> <!-- text-wrap.// -->
                    </div> <!-- col.// -->
                    <aside class="col-sm-3">
                        <div class="border-left pl-3">
                            <div class="price-wrap">
                                <span class="h3 price">{{ ad.price }} лв.</span>
                            </div> <!-- info-price-detail // -->
                            <p>
                                <a href="{{ path('viewAd', {id : ad.id}) }}" class="btn btn-light btn-sm">Детайли</a> </p>
                        </div> <!-- action-wrap.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </article> <!-- itemlist.// -->
        {% endfor %}
    </div>
{% endblock %}