<div class="col-lg-3  col-md-3 col-sm-12">
    <a href="{{ path('newAd') }}">+ New Ad</a><br/>
    {% if app.user %}
    <a href="{{ path('myAds') }}">&nbsp; &nbsp; My Ads</a>
    {% endif %}
    <!-- Begin fluid width widget -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Recent Articles
            </h3>
        </div>
        <div class="panel-body">
            <ul class="media-list">
                {% for article in articles %}
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{ path('viewArticle', {id: article.id}) }}" class="text-info">
                                {{ article.title }}
                            </a>
                        </h4>
                        <p class="margin-top-10 margin-bottom-20">
                            {{ article.content|slice(0,33) }}...
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a href="{{ path('allArticles') }}" class="btn btn-primary btn-block btn-sm">All Articles »</a>
        </div>
    </div>
</div>
<!-- End fluid width widget -->