{% extends 'base.html.twig' %}
{% block title %}Статии - Jorjslist{% endblock %}
{% block main %}
    <div class="row">
        <h3 class="text-center">Всички статии</h3>
        <hr/>
        {% for article in articles %}
        <div id="articles" class="col-lg-4 col-md-4 col-sm-12">
            <div class="post">
                <h3>{{ article.title }}</h3>
                <div class="content">
                    <div class="author">
                        <time datetime="{{ article.dateAdded|date('Y-m-d H:i') }}">{{ article.dateAdded|date('Y-m-d H:i') }}</time>
                    </div>
                    <div>
                        {{ article.content|slice(0,130) |raw }}
                    </div>
                    <div>
                        <a href="{{ path('viewArticle', {id: article.id}) }}" class="btn btn-primary btn-sm">Прочети повече</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}