{% extends 'base.html.twig' %}

{% block main %}
<div class="well">
    <h2 class="text-center">{{ article.title }}</h2>

    {% if article.image %}
    <img style="max-width: 500px; max-height: 600px" class="img-rounded img-responsive center-block" src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}">
    {% endif %}
    <br/>
    <p>{{ article.content }}</p>
    <h5 class="text-right">Viewed: {{ article.views }} times</h5>



</div>
{% endblock %}