<div class="sidenav">
    <button class="dropdown-btn white-text">Статия
        <span class="caret"></span>
    </button>
    <div class="dropdown-container">
        <a class="white-text" href="{{ path('createArticle') }}">Създай статия</a>
        <a class="white-text" href="{{ path('adminAllArticles') }}">Всички статии</a>
    </div>
    <a class="white-text" href="{{ path('allUsers') }}">Потребители</a>
    <button class="dropdown-btn white-text">Категория
        <span class="caret"></span>
    </button>
    <div class="dropdown-container">
        <a class="white-text" href="{{ path('createCategory') }}">Създай категория</a>
        <a class="white-text" href="{{ path('adminAllCategories') }}">Всички категории</a>
    </div>
    <button class="dropdown-btn white-text">Слайдер
        <span class="caret"></span>
    </button>
    <div class="dropdown-container">
        <a class="white-text" href="{{ path('addImageToSlide') }}">Добави снимка</a>
        <a class="white-text" href="{{ path('allImagesInSlider') }}">Всички снимки</a>
    </div>
    <a class="white-text" href="{{ path('css') }}">CSS</a>
</div>