<div class="sidenav">
    <button class="dropdown-btn">Статия
        <span class="caret"></span>
    </button>
    <div class="dropdown-container">
        <a href="{{ path('createArticle') }}">Създай статия</a>
        <a href="{{ path('adminAllArticles') }}">Всички статии</a>
    </div>
    <a href="{{ path('allUsers') }}">Потребители</a>
    <button class="dropdown-btn">Категория
        <span class="caret"></span>
    </button>
    <div class="dropdown-container">
        <a href="{{ path('createCategory') }}">Създай категория</a>
        <a href="{{ path('adminAllCategories') }}">Всички категории</a>
    </div>
    <button class="dropdown-btn">Слайдер
        <span class="caret"></span>
    </button>
    <div class="dropdown-container">
        <a href="{{ path('addImageToSlide') }}">Добави снимка</a>
        <a href="{{ path('allImagesInSlider') }}">Всички снимки</a>
    </div>
</div>