{% extends 'base.html.twig' %}

{% block main %}
<div class="well">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" id="success-alert">
            {{ message }}
        </div>
    {% endfor %}
    <h4>All Articles &nbsp; &nbsp; &nbsp; &nbsp;<a class="btn btn-primary btn-sm" type="button" href="{{ path('createArticle') }}" role="button">Create Article</a></h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date Added</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <th scope="row">{{ article.id }}</th>
        <td>{{ article.title }}</td>
        <td>{{ article.dateAdded|date('Y-m-d H:i') }}</td>
        <td><a class="btn btn-info btn-sm" href="{{ path('editArticle', {id: article.id}) }}">Edit</a></td>
        <td><a class="btn btn-danger btn-sm" href="{{ path('deleteArticle', {id: article.id}) }}" onclick="return confirm('Are u sure you want to Delete this Article?')">Delete</a></td>
    </tr>
        {% else %}
        <tr>
            <th scope="row">No Articles Found!</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

