{% extends 'base.html.twig' %}
{% block title %}Създаване на Статия - Jorjslist{% endblock %}
{% block main %}
    {{ form_start(form) }}
        <div class="well">
            <form class="form-horizontal" action="{{ path('createArticle') }}" method="POST">
                <fieldset id="createArticle">
                    <legend>Нова Статия</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Заглавие</label>
                        <div class="col-sm-4 ">
                            {{ form_row(form.title) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content"><br/>Съдържание</label>
                        <div class="col-sm-4">
                            {{ form_row(form.content,
                            {'attr': {'rows' : '8', 'cols' : '60'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_image">Снимка</label>
                        <div class="col-sm-4">
                            {{ form_row(form.image) }}
                        </div>
                    </div>


                    {{ form_row(form._token) }}
                    {{ form_end(form) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary">Публикувай</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    <script src="{{ asset('js/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock main %}