{% extends 'base.html.twig' %}

{% block main %}
    <div>
        <div class="well">
            {{ form_start(form) }}
            <form class="form-horizontal" action="{{ path('editArticle', {id: article.id}) }}" method="POST">
                <fieldset id="editArticle">
                    <legend>Редактирай статия</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Заглавие</label>
                        <div class="col-sm-4 ">
                            {{ form_row(form.title) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Съдържание</label>
                        <div class="col-sm-4 ">
                            {{ form_row(form.content,
                                {'attr': {'rows' : '8', 'cols' : '60'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_image">Снимка</label>
                        <div class="col-sm-4 ">
                            {{ form_row(form.image) }}
                        </div>
                    </div>

                    {{ form_row(form._token) }}
                    {{ form_end(form) }}

                    <div class="form-group">
                        <div class="col-sm-offset-4">
                            <a class="btn btn-default btn-sm" href="{{ path('allArticles') }}">Откажи</a>
                            <button type="submit" class="btn btn-success btn-sm">Редактирай</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

