{% extends 'base.html.twig' %}
{% block title %}Редактиране на обява - Jorjslist{% endblock %}
{% block main %}
    <div>
        <div id="editAd" class="text-center well">
            {{ form_start(form) }}
            <form class="form-horizontal" action="{{ path('editAd', {id: ad.id}) }}" method="POST">
                <fieldset>
                    <legend>Редактирай обява</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ad_title">Заглавие</label>
                            {{ form_row(form.title) }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ad_summary">Кратко описание</label>
                            {{ form_row(form.summary) }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ad_description">Описание</label>
                            {{ form_row(form.description,
                                {'attr': {'rows' : '8', 'cols' : '60'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ad_category">Категория</label>
                            {{ form_row(form.categoryId) }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ad_town">Град</label>
                            {{ form_row(form.town) }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ad_phoneNumber">Тел. номер</label>
                            {{ form_row(form.phoneNumber) }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ad_price">Цена</label>
                            {{ form_row(form.price) }}
                        <p><span class="red-text">*</span> в лева</p>
                    </div>
                    <div class="text-center form-group">
                        <label class="col-sm-4 control-label" for="ad_images">Снимка</label>
                            {{ form_row(form.images) }}
                        <p style="color: red">Ако качите снимки, старите ще бъдат заместени!</p>
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary btn-sm">Изпрати</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

