{% extends 'base.html.twig' %}


{% block main %}
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
    <div class="well col-lg-12 col-md-12 col-sm-12">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" id="success-alert">
                {{ message }}
            </div>
        {% endfor %}
        {% if app.user %}
            {% if ad.author==app.user.username %}
                <div class="text-right">
                    <a href="{{ path('editAd', {id : ad.id}) }}" class="btn btn-info btn-sm">Редактирай</a>
                    <a href="{{ path('deleteAd', {id : ad.id}) }}" class="btn btn-danger btn-sm">Изтрий</a>
                </div>

            {% endif %}

        {% endif %}

        <h2 class="text-center">{{ ad.title }}</h2>

        {% if images %}
            <div id="adPicture">
                <a style="text-align: center" href="{{ asset('uploads/images/' ~ images[0]) }}" data-fancybox data-caption="Caption for single image">
                    <img src="{{ asset('uploads/images/' ~ images[0]) }}" alt="{{ ad.title }}">
                </a>
            </div>
        {% else %}
            <img style="max-width: 500px" class="img-rounded img-responsive center-block" href="{{ path('viewAd', {id : ad.id}) }}" src="{{ asset('uploads/images/noimage.jpg') }}">
        {% endif %}
        <br/>
        <h4 class="pull-left"><strong>Цена: {{ ad.price }} лв.</strong></h4>
        <h4 class="pull-right"><strong>Град: {{ ad.town }}</strong></h4>
        <br/>
        {% if app.user %}
        <h4 class="text-center"><strong>Тел: {{ ad.phoneNumber }}</strong></h4>
        {% else %}
        <h5 class="text-center text-danger">Трябва да влезете в профила си, за да видите тел. номер.</h5>
            <br/>
        {% endif %}
        <p size="18">{{ ad.description }}</p>
        <a class="text-left" href="{{ path('adsByUser', {username : ad.author}) }}">Потребител: {{ ad.author }}</a><br/>
        {% if images|length > 1 %}
            <div id="adGalery">
                <h3 class="text-center">Всички снимки</h3>
            {% for image in images %}
                <a href="{{ asset('uploads/images/' ~ image) }}" data-fancybox="images">
                    <img src="{{ asset('uploads/images/' ~ image) }}">
                </a>
            {% endfor %}
            </div>
        {% endif %}
        <h5 class="pull-left">Видяно:
            {{ ad.views }}
            {% if ad.views==1 %}
                път
            {% else %}
                пъти
            {% endif %}</h5>
        <h5 class="pull-right">Добавено на: {{ ad.dateAdded|date('H:i d-m-Y') }}</h5><br/>
        <div id="qrcodeParent">
            <div id="qrcode"> </div>
            <div id="qra">
            <a class="btn btn-sm bg-success white-text">
                <span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Изтегли</a>
            </div>
        </div>
        {% if app.user %}
        {% if ad.author!=app.user.username %}
            <div class="text-right">
                <a style="cursor: pointer" type="button" class="black-text" data-toggle="modal" data-target="#reportAd">
                    <span class="glyphicon glyphicon-alert"></span>&nbsp;Докладвай</a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="reportAd" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Докладвай обява</h4>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                            <form action="{{ path('viewAd', {id : ad.id}) }}" method="POST">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="comment">Съобщение</label>
                                        <div class="col-sm-4 ">
                                            {{ form_row(form.comment) }}
                                        </div>
                                    </div>
                                    {{ form_row(form._token) }}
                                    {{ form_end(form) }}
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary btn-sm">Докладвай</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        {% endif %}
        {% endif %}

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            let text="http://jorjslist.eu/ad/" + {{ ad.id }};
            new QRCode(document.getElementById("qrcode"), {
                text: text,
                width: 90,
                height: 90
            });
            let canvas = $('#qrcode canvas');
            let img = canvas.get(0).toDataURL("image/png");
            let downloadBtn= $("#qra")
                .attr("href", img)
                .attr("download", "qrCode.png");

            /*REPORT AD
            let btn=$("#reportAd").parent();
            btn.click(function () {
                $("#reportAd").toggle();
            })
            */
        });
    </script>
{% endblock %}

