{% extends 'base.html.twig' %}

{% block main %}
    <div class="well">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" id="success-alert">
                {{ message }}
            </div>
        {% endfor %}
        <h4>Всички категории &nbsp; &nbsp; &nbsp; &nbsp;<a class="btn btn-primary btn-sm" type="button" href="{{ path('createCategory') }}" role="button">Създай категория</a></h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Име</th>
                <th scope="col">Изтрий</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <th scope="row">{{ category.id }}</th>
                    <td>{{ category.name }}</td>
                    <td><a class="btn btn-danger btn-sm" href="{{ path('deleteCategory', {id: category.id}) }}" onclick="return confirm('Сигурни ли сте, че искате да изтриете тази категория?')">Delete</a></td>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">Не бяха намерени категории!</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

