{% extends 'base.html.twig' %}

{% block main %}
    <div class="well">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" id="success-alert">
                {{ message }}
            </div>
        {% endfor %}
        <h4>Всички снимки в слайдер &nbsp; &nbsp;<a class="btn btn-primary btn-sm" type="button" href="{{ path('addImageToSlide') }}" role="button">Добави снимка</a></h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Подредба</th>
                <th scope="col">Снимка</th>
                <th scope="col">Изтрий</th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <div class="img-wrap">
                            <img style="max-width: 150px; max-height: 130px" src="{{ asset('uploads/images/' ~ image.image) }}" class="img-md">
                        </div>
                    </td>
                    <td><a class="btn btn-danger btn-sm" href="{{ path('imageDelete', {id: image.id}) }}" onclick="return confirm('Сигурни ли сте, че искате да изтриете тази снимка?')">Изтрий</a></td>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">Няма добавени снимки!</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

